// Color configuration
$accentColor = #247ba0
$textColor = #04080a
$borderColor = #bfcecf
$codeBgColor = #282c34 
$softWhite = #fcfdf8
$grey = #596869
$burgundy = #432e36
$green = #355834
$blue = #247ba0